
*{
   margin : 0%;
   padding : 0;
   box-sizing : border-box;
}

footer {
    height : 166px;
    /*background-color: #222426;*/
}

#fli{
   display : flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10%;
   /*color: white;*/
}

