.LayOut{
    /*border : solid 1px red;*/
    height : 1000px;
}

.sidebar{
    border : solid 1px black;
    height: 999px;
    width: 300px;
    float:left;
}
.mid{
    display: flex;
}
/*=========================*/

.rightSection{
       /*border: solid 1px red;*/
       /*background: green;*/
       display: flex;
       width: 100%;
       flex-direction: column;
}


.section01{
    width: 100%;
    height:100%;
   /* background-color:pink;*/
}

.section02{
      width: 100%;
      height: 30%;
    /* background-color:blue;*/
     }
.section{
    display: flex;
}
.hongbo{ /* img className */
    display: flex;
    width: 100%;
    height: 450px;
}

.topSection{
    height: 50%;
    width: 100%;
   /* border: 1px solid;*/
}

.bottomSection{
    height: 50%;
    width: 100%;
    /*border: 1px solid red;*/
}

.blist{
    width:50%;
    height:100%;
   /* background: green;*/
   padding:10px;
}
.blist h3{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/*
.blist01{background: antiquewhite;}

.blist02{background: aliceblue;  }

.blist03{background: aquamarine; }

.blist04{background: brown;  }*/
