
.homeline{
    border: 2px solid #51d4dd;
    width: 25%;
}

.LayOut{
    /*border : solid 1px red;*/
    height : 1000px;
}

.sidebar{
    /*border : solid 1px black;*/
    height: 999px;
    width: 300px;
    float:left;
}
.mid{
    display: flex;
    margin-top: 3%
}
/*=========================*/

.rightSection{
       /*border: solid 1px red;*/
       /*background: green;*/
       display: flex;
       width: 100%;
       flex-direction: column;
}


.section01{
    width: 100%;
    height:100%;
   /* background-color:pink;*/
}

.section02{
      width: 100%;
      height: 20%; /* 12.28 최예은 수정 */
    /* background-color:blue;*/
     }
.section{
    display: flex;
}
.hongbo{ /* img className */
    height: 40%;
    margin-left: 30%;
    margin-top: 13%;
    padding: 6%;
    width: 59%;
    display : flex;
}


.topSection{
    height: 50%;
    width: 100%;
   /* border: 1px solid;*/
}

.bottomSection{
    height: 50%;
    width: 100%;
    /*border: 1px solid red;*/
}

.blist{
    width:50%;
    height:100%;
   /* background: green;*/
   padding:10px;
}
.blist h3{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/*
.blist01{background: antiquewhite;}

.blist02{background: aliceblue;  }

.blist03{background: aquamarine; }

.blist04{background: brown;  }*/


/* 하단 광고 배너  */
.banner{
    display: flex;
    margin-left: -96%;
    margin-top: 65%;
}

.conding{
    height: 80px;
    margin-left: -85%;
}

.Intellij{
    height: 80px;
}

/* 밑 배너  */
.banners{
    display: flex;
    margin-left: -263%;
    margin-top: 0;
}


.react{
    height: 80px;
}

.springboot{
    height: 80px;
}
