.blistrout{
    height: 650px;
}

.again{
    text-decoration: none;
    /*color: #51d4dd; 색상 고민중 */
    font-size: 30px;
    margin-top: 18px;
}

.awriting{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 1%;
    margin-left: 13%;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.1s;
    transform: translateY(3px);
    background-color: #51d4dd;
    border-bottom: 5px solid #1f75d9;
    font-family: monospace;
}

.clist{
    width: 50%;
    font-size: 100%;
    margin-left: 25%;
    background-color: white;
    width: 800px;
    margin: 2% auto;
}

.got1{
    background-color: #eeeeee;
    text-align: center;
}

.got2{
    background-color: #eeeeee;
    text-align: center;
    padding-left: 10px;
}

.got3{
    background-color: #eeeeee;
    text-align: center;
    padding-left: 10px;
}

.got4{
    background-color: #eeeeee;
    text-align: center;
    padding-left: 10px;
}

.got5{
    background-color: #eeeeee;
    text-align: center;
    padding-left: 10px;
}

.got6{
    background-color: #eeeeee;
    text-align: center;
}

.got7{
    background-color: #eeeeee;
    text-align: center;
    padding-left: 10px;
}

.got8{
    background-color: #eeeeee;
    text-align: center;
    padding-left: 10px;
}

.got9{
    background-color: #eeeeee;
    text-align: center;
    padding-left: 10px;
}

#paging{
    margin-left: 45%;
}

/*===============================*/
.searchbox{
    margin-left: 33%;
    margin-top: 35%;
}

.key{
    position: relative;
    width: 150px;
    height: 35px;
    border-radius: 4px;
}
.keyword{
    position: relative;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    margin: 0 5px;
}

.blistbut{
    position: relative;
    width: 50px;
    height: 35px;
    border-radius: 4px;
}



/*-==========Pagination================*/

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right: 40%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
  }

  ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
  }

  ul.pagination li.active a {
    color: white;
  }

  ul.pagination li.active {
    background-color: #337ab7;
  }

  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: blue;
  }

  .page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
  }