.writing{
    width: 1100px;
    height : 850px;
    margin : 0 auto;
    border : solid 1px red;
}

#btitle{
        width: 100%;
        height: 30px;
        font-size: 150%;
        display: flex;
        margin-top: 20px;
}

.tit{
    font-size: 30px;
    margin-top: 18px;
}

.bar{
    border : solid 1px #51d4dd;
}

.enrollment{
        width: 100px;
        margin: auto;
        display: block;
        margin-top: 30px;
        font-size: 20px;
}

.ck-editor__editable { height: 500px; }