/* profilphoto 전체 */
.pro{
    height: 500px;
}

/* profil = 프로필 사진 */
.probox{
    margin-left: 43%;
    margin-top: 4%;
}

.profil{
    border: 1px solid #000;
    border-radius: 50px;
    display: inline-block;
    height: 90px;
    width: 90px;
}


/* proemail = email  */

.proemailbox{
   margin-top: 2%;
   margin-left: 44%;
   font-size: 30px;
}

.proemail{

}
/* pronick = 닉네임  */

.probickbox{
   margin-top: 5%;
   margin-left: 43%;
   font-size: 30px;
}

/* 선 */
.proboard{
    border: 1px solid #51d4dd;
    margin-top: 13%;
}

/* probut = 수정하기 */

.probut{
    background-color: #51d4dd;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    /*margin-left: 43%;
    margin-top: 5%;*/
    padding: 15px 32px;
    /*text-align: center;*/
    text-decoration: none;
    margin-left: 41%;
    margin-top: 3%;
}

