
.rereplyWrap{
    width: 80%;
    padding-left: 50px;
    margin: 20px 30px;
    border-left: 1px solid;
}
.rereplyProfileImg{
    width:30px;
    height:30px;
    border-radius:50%;
    background:pink;
}