<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>codingin</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

          <div> <!-- index 전체 div -->
              <div>     <!-- 광고영역 div -->

              </div>    <!-- 광고영역 div -->

              <div>     <!-- 공지사항  사이드 div -->
                  <li a="공지사항"> 공지사항 </li>
                  <li a="고민"> 고민 </li>
                  <li a="Q&A"> Q&A </li>
                  <li a="이벤트"> 이벤트 </li>
                  <li a="인기게시판"> 인기게시판 </li>
              </div>    <!-- 공지사항  사이드 div -->

              <div>     <!-- 게시물 영역 div -->
                <div>
                    <div>
                        <h3>
                            <ul>
                                <li> 안녕하세요 </li>
                                <li> 이거는 삭제 할거야 </li>
                                <li> 그냥 해둔거입니다. </li>
                            </ul>
                        </h3>
                    </div>
                </div>
              </div>    <!-- 게시물 영역 div -->

          </div> <!-- index 전체 div -->
</body>
</html>