<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <h1>쪽지보내기</h1>
                제목 : <input type="text" class="ltitle"><br>
                내용 : <textarea class="lcontent" placeholder="500자이하로 작성해주세요"></textarea><br>
                 <input type="file" class="lfile">
                <button type="button" onclick="setletter()">쪽지 보내기</button>


        <table class="listtable">

        </table>
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/letter/letter.js"></script>


</body>
</html>